<div class="container">
<nav class="navbar navbar-alert bg-dark">
    <div class="container-fluid">
      
    </div>
  </nav>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      
     
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active head" aria-current="page" routerLink="">Hello!</a>
          <a class="nav-link active" routerLink="project">Projects</a>
          <a class="nav-link active" routerLink="service">Skills</a>
          <a class="nav-link active" routerLink="contact">Contact</a>
         
         
        </div>
      </div>
    </div>
  </nav>

 
</div>