<div class="container" style="background-color:white;height:600px" >
 

    <div class="row">
        <div class="col">
          
          <br><br><br><br><br><br>
                <h3>Contact Details</h3>
         
        
           </div>
        
      
       
        <div class="col" style="margin-top:10px;background-color:darkorange;height:600px">
        
          <br><br><br><br><br><br><br><br><br>
            <h5>
                Email:ajana23@gmail.com
            </h5>
            <br>
            <h5>Phone Number:+91-995110848</h5>
         
       
            
        </div>
        <div class="col"  [@listanimation]="item" style="background-color:aliceblue;height:600px">
            <br><br><br><br>  <br><br><br><br><br><br><br><br><br><br><br><br>
              <h1>
                {{item}}
              </h1>           
           
          </div>
      </div>

     
    
</div>