<div class="container"style="background-color:aliceblue;">
    <div class="row">
        
        
        <div class="col" style="background-color:darkorange;margin: top 50px;height:300px; text-align: center;">
            <br><br><br><br><br><br><br>
          <h4>{{title}}</h4>
      </div>
      <div class="col"style="background-color:darkorange;margin: top 50px;height:300px; text-align: center;">

    </div>

       
</div>

<div class="row">
    <div class="col">

        <div  
        [@listanimation]="items.length" style="color:brown;text-align: center;height:500px;width:300px">
            <div id="list" *ngFor="let item of items"><h3><i>{{item}}</i></h3></div>
        </div>

       

    </div>
    <div class="col"style="background-color:darkorange;margin: top 50px;height:300px; text-align: center;">
        <br><br>
        <h3><a href="contact">Say Hello</a></h3>
    </div>

   


</div>
</div>