<div class="container" style="background-color:white;" >
 

    <div class="row">
        <div class="col">
          
          <br><br><br><br><br><br>

          <h5>
            Hello I am</h5> <h4>Ajana Antony</h4>
          
          <h5>
            Full Stack Developer
          </h5>
        
           </div>
        
      
       
        <div class="col" style="margin-top:10px;background-color:darkorange;">
        

        <img [src]="image" alt="" style="width:300px;height:500px;margin-left:20px;clip-path:circle();">

            
        </div>
        <div class="col" style="background-color:aliceblue;">
                         <br><br><br><br><br><br><br><br><br><br>
          <h4><i>About me</i></h4>
          <p>According to the algorithm that drives this word 
            similarity engine, the top 5 related words for 
            "development" are: growth, evolution, 
            maturation, underdevelopment, and improvement.
          </p>
          <br><br>
          <a routerLink="project"> <h3>Projects
          </h3></a>
         
           
          </div>
      </div>

     
    
</div>